html {
    font-size: 10px;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  .container{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    
}

  #grid-container{
      display: grid;
      grid-template-columns: 10% 10% 10% 10% 40% 20%;
      grid-template-rows: 75% 25%;
      
  }

  

  .numbers{
      display: flex;
      margin: 2rem;
      font-size: 72px;
      align-items: center;
      justify-content: center;

  }

  #answer-input{
      display: flex;
      flex-grow: 1;
      height: 150px;
      font-size: 72px;
      max-width: 175px;
      text-align: center;
  }
  .submit-btn{
      display: flex;
      align-self: stretch;
      grid-column-start: 5;
      margin-top: 5px;

  }

  .submit-btn > button{
      display: none;
      flex-grow: 1;
      margin:0 2rem 0 2rem;
  }

  #answer{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px;
      margin-top: 10px;
  }

  #tick{
    display: none; 
    max-height: 150px;
    max-width: 150px;
      
  }

  #cross{
    background-image: 'cross.png';
    min-width: 200px;
    
  }